.Rproj.user
.Rhistory
.RData
.Ruserdata
.html

doc/
figs/
misc/

data/l0p/
data/morphometry/
data/otolithometry/
data/otoliths-sections/
data/von-bertalanffy-literature/

output/01_clean_otolithometry.html

R/01_clean_otolithometry.Rmd
R/01_clean_otolithometry.html
R/04_exploratory_analysis.html
